.container{
    margin: 30px;
    background-color: yellow;
    border: 1px solid red;
    height: 500px;
    width: 500px;
    display: flex;

}

.box{
    height: 20%;
    width: 30%;
    background-color: hotpink;
    border: 3px solid green;
    margin: 10px;
    /* transition: background-color 1s ease 3s; */
    /* transition: all 1s ease 2s; */
    transition: transform 1s ease 1s;
}

.box:hover{
    /* transform: rotate(45deg);
    background-color: aqua; */
    transform:scale(2) translateX(500px) translateY(300px) rotate(360deg);
}