#card{
    height: 300px;
    width: 500px;
    border-radius: 10px;
}
#caption{
    font-family:sans-serif;
    font-weight:bolder;
    font-size: 18px Rubik;
    /* font-size: 10px; */
}
.box{
    border: 0px solid white;
}

.tab{
    tab-size: 4;
}