img{
    height: 200px;
    width: 200px;
    /* margin-left: 30px; */
}

/* #Linus{
padding-left: 30px;
} */
html{
    scroll-behavior: smooth;
}

aside{
    float: right;
    width: 20%;
    background-color:rebeccapurple;
}