*{
    box-sizing: border-box;
}
.container{
    height: 200px;
    border: 2px solid pink;
    display: flex;
    /* flex-direction: row-reverse; */
    /* flex-wrap: wrap-reverse; */
    /* justify-content: flex-end; */
    /* justify-content: flex-start; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* gap: 10px ; */
    align-content: flex-start;


}

.box{
    border: 1px solid brown;
    background-color: aqua;
    width: 600px;
    /* flex-grow: 1; */
    flex-basis: 50%;
}
 
#box1{
    order: 1;
    /* flex-grow: 1; */
}
#box2{
    order: 3;
    /* flex-grow: 1; */
    /* flex-shrink: 2; */
    /* align-self: stretch; */
}
#box3{
    order: 4 ;
    /* flex-shrink: 4; */
    /* align-self: flex-end; */
}

