*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --dark-red:#981a2c;
}

/*Global variable*/
/* :root{
    --dark-red:#981a2c;
} */


.container{
 border: 1px solid red;
 background-color: aquamarine;  
 background-color: var(--dark-red); 
 height: 500px;
 width: 400px;
}

.box{
    border: 2px solid black;
    background-color: hotpink;
    /* background-color:var(--dark-red); */
    /*Local variable*/
    /* color: #981a2c; */
    color: var(--dark-red);
    margin: 10px;
}